[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-alembic = "*"
flask-migrate = "*"
black = "*"
tomli = "*"
exceptiongroup = "*"
isort = "*"
flake8 = "*"
flake8-pyproject = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
testcontainers-postgres = "*"
flask-jwt-extended = "*"
pytest-mock = "*"
flask-json-schema = "*"
testcontainers = "*"
openpyxl = "*"
requests = "==2.31.0"
mako = "1.3.5"
boto3 = "1.34.141"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
