[tool.black]
line-length = 88
target-version = ['py38']
exclude = '''
/(
    \.venv         # skip your virtual-env
  | src/migrations  # skip all files under migrations
  | \.git          # skip git dir
  | build          # skip build/
  | dist           # skip dist/
)/
'''

[tool.isort]
skip_glob = ["src/migrations/*"]

[tool.flake8]
exclude = ["src/migrations/"]
max-line-length = 120
ignore = ["E203", "W503"]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = [
    "-ra",
    "-s",
    "--cov=src",
    "--cov-branch",
    "--cov-report=term",
    "--cov-report=html",
]

testpaths = [
    "tests/*test.py",
]
pythonpath = " src"


[tool.coverage.run]
omit = [
    "src/migrations/*",
    "*/model/*",
    "*/__init__.py",
    "*/config.py",
    "src/export/repository/*",
    "src/experiment/repository/*"
]

[tool.coverage.report]
fail_under = 95.9


